:root {
	--bg-color: rgb(34, 34, 34);
	--font-color: rgb(242, 242, 242);
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-family: "Share Tech Mono";
	font-size: 22px;
	margin: 0px;
}

#header {
	background: var(--bg-color);
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#header hr {
	color: #444;
	width: 70%;
}

#content {
	overflow: auto;
	text-align: center;
	min-height: 100vh;
	margin: 7rem 0;
}

#news-list {
	display: inline-block;
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
}

#news-list li {
	border-bottom: 1px solid #444;
	padding: 10px;
	margin: 1rem;

	display: flex;
	flex-direction: column;
	transition: all 0.2s ease-in-out;
}

.card-content {
	padding: 1rem;
}

.card-title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
}

.card-url {
	color: rgb(47, 103, 196);
}


.loader {
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s ease-in;
	border: 2px solid dodgerblue;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-top: 10px;
	animation: loader 0.5s infinite alternate;
}

.loader.show {
	visibility: visible;
	opacity: 1;
}

@keyframes loader {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0.8);
	}
}
